<html>
<head>
</head>
<body>
	<h3>Build A New Task</h3>
	<form method="post" action='/api/create'>
		<label for="img0">Image 0:</label>
		<input type="text" name="img0"><br/>
		<label for="img1">Image 1:</label>
		<input type="text" name="img1"><br/>
		<label for="img2">Image 2:</label>
		<input type="text" name="img2"><br/>
		<label for="img3">Image 3:</label>
		<input type="text" name="img3"><br/>
		<label for="img4">Image 4:</label>
		<input type="text" name="img4"><br/>
		<label for="img5">Image 5:</label>
		<input type="text" name="img5"><br/>
		<label for="img6">Image 6:</label>
		<input type="text" name="img6"><br/>
		<label for="img7">Image 7:</label>
		<input type="text" name="img7"><br/>
		<label for="img8">Image 8:</label>
		<input type="text" name="img8"><br/>
		<label for="img9">Image 9:</label>
		<input type="text" name="img9"><br/>
		<br/>
		<input type="submit" name="create" value="create"/>
		<input type="submit" name="create-run" value="create and run"/>
	</form>
</body>
